@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap');

:root {
  --white: hsl(0, 0%, 100%);
  --light-violet: hsl(270, 3%, 87%);
  --dark-violet: hsl(279, 6%, 55%);
  --very-dark-violet: hsl(278, 68%, 11%);
  --error-input: hsl(0, 100%, 66%);
  --linear-gradient: hsl(249, 99%, 64%) to hsl(278, 94%, 30%);
}

body {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  overflow-x: hidden;
}

/* MOBLIE-FRIST */

/* CARDS */
.container-cards {
  padding: 32px 16px;
}

.bg-groud {
  background: url(./img/bg-main-mobile.png) no-repeat center center;
  height: 240px;
  width: 100vw;
}

.card {
  width: 286px;
  height: 157px;
}

.card-back {
  display: flex;
  position: relative;
  justify-content: flex-end;
}

/* .container-card-back {
} */

.cvc {
  position: absolute;
  color: var(--white);
  top: 68px;
  left: 288px;
}

.card-front {
  position: absolute;
  top: 121px;
}
/* 
.container-card-front {
} */

.number-card {
  position: absolute;
  bottom: 40px;
  left: 20px;
}

.number {
  color: var(--white);
  font-family: "Space Grotesk", serif;
  font-size: 18px;
  font-weight: 500;
}

.name-card-yy {
  position: absolute;
  bottom: 20px;
  left: 22px;
  color: var(--white);
  font-family: "Space Grotesk", serif;
  font-size: 9px;
  text-transform: uppercase;
}

.flex-item {
  display: flex;
  gap: 130px;
}
/* CARDS */

/* FORM */
.container-form {
  /* display: flex; */
  display: none;
  padding: 75px 24px;
  height: 330px;
}

.block-1 input {
  width: 327px;
  height: 45px;
  border-radius: 4px;
  border: 2px solid var(--light-violet);
  margin-top: 9px;
}

.cardholder-name,
.card-number {
  margin-bottom: 20px;
}

.formulario label {
  color: var(--very-dark-violet);
  font-family: "Space Grotesk", serif;
  font-size: 12px;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2px;
}

.formulario input::placeholder {
  color: var(--dark-violet);
  padding: 11px 16px;
  font-weight: 500;
  font-size: 18px;

}

.title-flex {
  display: flex;
  gap: 35px;
}

.input-flex  {
  display: flex;
  gap: 10px;
}

.mm-yy {
  display: flex;
  gap: 10px;
}

.mm-yy input{
  width: 72px;
  height: 45px;
  border: 2px solid var(--light-violet);
  border-radius: 4px;
}

.cvc-card input {
  width: 150px;
  height: 45px;
  border: 2px solid var(--light-violet);
  border-radius: 4px;
}

.btn {
  border: none;
  font-family: "Space Grotesk", serif;
  font-size: 18px;
  font-weight: 500;
  color: var(--white);
  background-color: var(--very-dark-violet);
  width: 327px;
  padding: 15px;
  border-radius: 4px;
  margin-top: 28px;
}

.btn:hover {
  background-color:  hsl(278, 68%, 50%);
  transition: .1s ease-in-out;
}

/* FORM */

/* CONGRATULATIONS */



.congratulations {
  display: block;
}

.content {
}


/* ver o espaçamento entre os input e termina a estilização  */
/* CONGRATULATIONS */
